* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
height: 100vh;
background-color: rgb(235, 235, 235);

}
html {
height: 100vh;
}

.division {
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 50px minmax(100px,1fr) minmax(300px,1fr) minmax(500px,2fr);
    grid-template-areas:
    "head"
    "first_row"
    "second_row"
    "numbers"
    ;
}
.head {
    grid-area: head ;
    display: inline;
     
}
.bar{
    float: right;
    
}

.first_row{
    grid-area: first_row ;
    background-color: brown;
}
.second_row{
    grid-area: second_row ;
    background-color: chartreuse;
}

.numbers {
    grid-area: numbers ;
    background-color: yellow;
}